@import "~materialize-css/dist/css/materialize.min.css";
.brand-logo {
    font-size: large;
    font-weight: 600;
}
.nav-wrapper {
    padding: 0 20px;
}
.nav-wrapper .switch {
    margin-right: 10px;
}
.avatar-desk  {
    margin: 10px 0 0 20px;
}
.sidenav .switch {
    margin: 0 0 0 30px;
}
.switch label .lever {
    vertical-align:super;
}
.nav-link {
    font-weight: 600;
}
.sidenav .user-view {
    padding: 20px 35px;
}
.switch label {
    font-size: 16px;
}
.search-form {
    margin-left: 200px;
    max-width: 400px;
}
.nav-wrapper .search-form .input-field .search {
    width: 290px;
}
.sidenav .input-field .search {
    margin-left: 35px;
    width: 200px;
}
.switch .material-icons {
    display: inline;
}
.material-icons {
    cursor: pointer;
}
.dropdown-content {
    top: -50px;
    min-width:  200px;
}
.tag-cloud {
    min-width: 200px;
    min-height: 200px;
    cursor: pointer;
}
.card {
    min-width: 200px;
}
.auth-form {
    margin-top: 150px;
    max-width: 400px;
}
.MuiLink-underlineHover:hover {
    text-decoration: none !important;
}